@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* neutral */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* gradient */
  --linearGradient-1a: hsl(0, 0%, 100%);
  --linearGradient-1b: hsl(0, 100%, 98%);
  --linearGradient-2a: hsl(0, 80%, 86%);
  --linearGradient-2b: hsl(0, 74%, 74%);

  /* fonts  */

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 5rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --light-shadow: 0 10px 20px var(--desaturated-red);
  --heavy-shadow: 0 10px 30px var(--desaturated-red);
}

body {
  background: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* projects css */

body {
  background: var(--linearGradient-1b);
  position: relative;
  min-height: 100vh;
}

nav {
  height: 5rem;
  width: 80vw;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 7rem;
}

.desktop-img {
  display: none;
}

.mobile-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.hero-info {
  width: 80vw;
  margin: 0 auto;
  margin-top: 3.5rem;
  max-width: 1120px;
}

.hero-info h1 {
  text-transform: uppercase;
  color: var(--dark-grayish-red);
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 12px;
  text-align: center;
  font-weight: 600;
}

.hero-info h1 span {
  color: var(--desaturated-red);
  font-weight: 300;
}

.hero-info p {
  color: var(--desaturated-red);
  text-align: center;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 2.8rem;
  position: relative;
}

input {
  grid-column: 1/10;
  grid-row: 1/2;
  padding: 0 1rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--desaturated-red);
}

::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: var(--desaturated-red);
}

.error-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18vw;
  visibility: hidden;
}

.btn {
  grid-column: 9/11;
  grid-row: 1/2;
  border-radius: 5rem;
  border: transparent;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.btn:hover {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 80%, 86%));
  box-shadow: var(--heavy-shadow);
}

.form-alert {
  padding-left: 1rem;
  color: var(--soft-red);
  font-size: 0.8rem;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .hero-info h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  body {
    background: url("../images/bg-pattern-desktop.svg") no-repeat;
    background-size: cover;
  }
  .mobile-img {
    display: none;
  }
  .desktop-img {
    position: absolute;
    display: block;
    object-fit: cover;
    top: 0;
    right: 0;
    z-index: 10;
    width: 42vw;
    height: 110vh;
  }

  nav {
    height: 7rem;
  }

  .hero-info {
    margin-top: 3.5rem;
  }

  .hero-info h1 {
    text-align: left;
    max-width: 450px;
    font-size: 3.5rem;
    line-height: 1.2;
    letter-spacing: 12px;
  }

  .hero-info p {
    max-width: 450px;
    text-align: left;
  }

  form {
    max-width: 450px;
  }

  .error-icon {
    right: 6.5rem;
  }
}
